body {  
  margin: 16px;  
  font-size: 100%;  
  background-color: rgb(68, 126, 250);
  font-family: 'Open Sans', sans-serif;
}  
.weather-app {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
