/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: "Open Sans", sans-serif;
  }
  
.location-details {
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    
} */